html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 12px;
    font-family: 'Microsoft YaHei', 'Helvetica', 'Simsun';
    background: #f7f7f8;
    color: #383E43;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-wrap: break-word;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input,
select,
textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

li,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

b,
strong {
    font-weight: 700
}

i,
em {
    font-style: normal;
}

img {
    vertical-align: middle;
    border: none;
    /* 阻止在firefox下 img元素没有属性的时候 所造成的无法设置宽高的情况 */
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    line-height: 100%;
}

p {
    font-size: 100%;
    line-height: 100%;
}
p.desc {line-height: 1.5em;}

a {
    color: #383E43;
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: 0;
}

a:active {
    border: none;
}


/*清浮动*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.fr {
    float: right!important
}

.fl {
    float: left!important
}

.box {
    display: -moz-box;
    /*Firefox*/
    display: -webkit-box;
    /*Safari,Opera,Chrome*/
    /* display: box; */
}

.item {
    -moz-box-flex: 1.0;
    /*Firefox*/
    -webkit-box-flex: 1.0;
    /*Safari,Opera,Chrome*/
    /* box-flex: 1.0; */
    /*    width: 70%;*/
}

.van-radio .van-icon-checked{
    color: rgb(101,58,114)!important;
}
.van-nav-bar .van-icon{
    color: #fff!important;
}
.van-nav-bar__text{
    color: #fff!important;
}

html,body{
  width: 100%;
  height: 100%;
}
